<div class="formbody">
    <div class="form-heading" style="margin-left: 30px;"><span class="imp p-2">*</span><span>Required</span></div>
    <div class="form-group">
        <label for="pname">1. Name of Participant <span class="imp">*</span></label>
        <input class="form-control my-2" type="text" placeholder="Enter your answer">
    </div>
    <div class="form-group">
        <label for="pname">2. Participant for? <span class="imp">*</span></label>
        <div class="check"><input class="form-checkbox" type="checkbox" name="option1" id=""><span style="font-size:14px ;" for="option1">SIEO</span></div>
        <div class="check"><input class="form-checkbox" type="checkbox" name="option2" id=""><span style="font-size:14px ;" for="option2">SIMO</span></div>
        <div class="check"><input class="form-checkbox" type="checkbox" name="option3" id=""><span style="font-size:14px ;" for="option3">SISO</span></div>
        <div class="check"><input class="form-checkbox" type="checkbox" name="option4" id=""><span style="font-size:14px ;" for="option4">Grads Olympiad</span></div>
        <div class="check"><input class="form-checkbox" type="checkbox" name="option5" id=""><span style="font-size:14px ;" for="option5">Finance Olympiad</span></div>
    </div>
    <div class="form-group">
        <label for="">3. How was the quality of the questions asked? <span class="imp">*</span></label>
        <app-feedback-stars></app-feedback-stars>
    </div>
    <div class="form-group">
        <label for="">4. How was the ease of giving the Olympiad? <span class="imp">*</span></label>
        <app-feedback-stars></app-feedback-stars>
    </div>
    <div class="form-group">
        <label for="">5. Did you like the process of report generation? <span class="imp">*</span></label>
        <app-feedback-stars></app-feedback-stars>
    </div>
    <div class="form-group">
        <label for="">6. How was the customer service, if you used any?</label>
        <app-feedback-stars></app-feedback-stars>
    </div>
    <div class="form-group">
        <label for="pname">7. Anything that we need to improve. <span class="imp">*</span></label>
        <input class="form-control my-2" type="text" placeholder="Enter your answer">
    </div>
    <div class="form-group">
        <label for="pname">8. What did you like the best about us?<span class="imp">*</span></label>
        <input class="form-control my-2" type="text" placeholder="Enter your answer">
    </div>
    <div class="form-group">
        <label for="">9. How likely are you to participate in our Olympiads in the future? <span class="imp">*</span></label>
        <app-feedback-stars></app-feedback-stars>
    </div>
    <div class="form-group">
        <input name="Submit" id="" class="button form-control" type="button" value="Submit">
    </div>
    <div class="form-group2 form-heading">Never give out your password.<a class="office-form-notice-report" href="javascript:void(0)">Report abuse</a></div>
</div>
