<div class="footer-content">
    <div class="footer-msg">This content is created by the owner of the form. The data you submit will be sent to the form owner. Microsoft is not responsible for the privacy or security practices of its customers, including those of this form owner. Never give out your password.
    </div>
    <div class="footer-foot">
        <div class="">Powered by Microsoft Forms</div>
        <span role="presentation"> | </span>
        <div class="">
            <a href="https://go.microsoft.com/fwlink/?LinkId=521839" rel="noreferrer" target="_blank">Privacy and cookies</a>
        </div>
        <span role="presentation"> | </span>
        <a href="https://go.microsoft.com/fwlink/?linkid=866263" rel="noreferrer" target="_blank">Terms of use</a>
    </div>
</div>
