<div class="logo_header">
    <div class="formtitle_formlogo">
        <div class="logo">
            <img src="https://lists.office.com/Images/9188040d-6c67-4c5b-b112-36a304b66dad/00000000-0000-0000-0003-4001c6243894/T4RG9VQVD7JIK8WBKHL6N9V5FI/1a529ffb-45b1-4346-990a-1d8537a2a2b8" height="45px" width="45px" style="top:0px;left:0px;" alt="logo">
        </div>
        <div class="title">
            <span class="text-format-content" style="line-height:1.3;">Feedback Form (Visit <a href="http://bit.ly/sfolyfb1" class="linkified" target="_blank">bit.ly/sfolyfb1</a> if you are unable to fill this form.)</span>
        </div>
    </div>
    <div class="text-format-content msg">
        <div class="massage">
            <p>A short feedback form to help us consistently deliver you the best and improve.</p>
            <p>Compulsory to get certificates. Certificates will be sent via email in December.</p>
            <p>Request you to please fill correct details only so that we can know where we are lagging.</p>
        </div>
        <div class="option">
            <i class="bi bi-three-dots buttn" (click)="onclick()" style="font-size: 20px; font-style: normal; height: 30px; line-height: 20px; width: 40px; padding:5px 8px;" role="presentation" aria-hidden="true"></i>
            <div>
                <div class="option-msg hide-msg" id="box"><img aria-hidden="true" height="20" src="https://cdn.forms.office.net/forms/images/immersive-reader-icon.svg" width="20"><span>Enable Immersive Reader</span></div>
            </div>
        </div>
    </div>
</div>
